node-red/flow_1.json
[
    {
        "id": "590b32fb71091399",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed05c63422b4c172",
        "type": "modbus-read",
        "z": "590b32fb71091399",
        "name": "Add 0x0000, 4 reg",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "55",
        "dataType": "HoldingRegister",
        "adr": "0:0000",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ae024ce1158367ed",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "137012ca79e515b4"
            ],
            []
        ]
    },
    {
        "id": "08770f4077de4e58",
        "type": "debug",
        "z": "590b32fb71091399",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "137012ca79e515b4",
        "type": "function",
        "z": "590b32fb71091399",
        "name": "DO probe temperature (°C)",
        "func": "// Assuming the payload contains an array of 4 double-byte integers\nlet myArray = msg.payload;\n\n// Check if it's an array and has at least 3 elements\nif (Array.isArray(myArray) && myArray.length >= 3) {\n    // Read the third value (index 2, as arrays are zero-indexed)\n    let thirdValue = myArray[2];\n\n    // Divide the third value by 10\n    let result = thirdValue / 10;\n\n    // Set the result as the new payload\n    msg.payload = result;\n} else {\n    // Handle cases where the array is invalid or too short\n    msg.payload = \"Error: Array is invalid or does not have at least 3 elements.\";\n}\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "08770f4077de4e58",
                "6fdca9c335cff481"
            ]
        ]
    },
    {
        "id": "5fa14573fb900dc6",
        "type": "debug",
        "z": "590b32fb71091399",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "716356beff352798",
        "type": "modbus-read",
        "z": "590b32fb71091399",
        "name": "Add 0x0101, 1 reg",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "55",
        "dataType": "HoldingRegister",
        "adr": "4097",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ae024ce1158367ed",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "d2a3621db1473f57"
            ],
            []
        ]
    },
    {
        "id": "6b6c0bfa700d33fb",
        "type": "ui_template",
        "z": "590b32fb71091399",
        "group": "9352fb0fb6e0e13c",
        "name": "SEEED studio DO probe",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center;\">\n    <img src=\"/DO_probe.png\" alt=\"Local Image\" style=\"max-width: 100%; height: auto;\">\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d2a3621db1473f57",
        "type": "function",
        "z": "590b32fb71091399",
        "name": "DO concentration (mg/L)",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0] / 100; // Access the first element and divide by 100\n} else {\n    node.warn(\"Payload is not a valid array with at least one value.\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "5fa14573fb900dc6",
                "4165555a56f84a4c"
            ]
        ]
    },
    {
        "id": "6fdca9c335cff481",
        "type": "ui_text",
        "z": "590b32fb71091399",
        "group": "0ed5d68dfd3ad9cf",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "4165555a56f84a4c",
        "type": "ui_text",
        "z": "590b32fb71091399",
        "group": "39793fd7f5fc7263",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DO concentration",
        "format": "{{msg.payload}} mg/L",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "0d04e96c3a54d17c",
        "type": "modbus-read",
        "z": "590b32fb71091399",
        "name": "Add 0x0102, 1 reg",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "55",
        "dataType": "HoldingRegister",
        "adr": "258",
        "quantity": "1",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "ae024ce1158367ed",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "314ff8ee3f2eb4b5"
            ],
            []
        ]
    },
    {
        "id": "314ff8ee3f2eb4b5",
        "type": "function",
        "z": "590b32fb71091399",
        "name": "DO saturation (%)",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0] / 10; // Access the first element and divide by 100\n} else {\n    node.warn(\"Payload is not a valid array with at least one value.\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "2a869b56e1de5cdb",
                "3c38d1ad3654fb88"
            ]
        ]
    },
    {
        "id": "2a869b56e1de5cdb",
        "type": "ui_text",
        "z": "590b32fb71091399",
        "group": "39793fd7f5fc7263",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DO saturation",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c38d1ad3654fb88",
        "type": "debug",
        "z": "590b32fb71091399",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "ae024ce1158367ed",
        "type": "modbus-client",
        "name": "serial new",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 55,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9352fb0fb6e0e13c",
        "type": "ui_group",
        "name": "Probe",
        "tab": "cb16b6f55b38a429",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ed5d68dfd3ad9cf",
        "type": "ui_group",
        "name": "temperature",
        "tab": "cb16b6f55b38a429",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "39793fd7f5fc7263",
        "type": "ui_group",
        "name": "dissolved oxygen",
        "tab": "cb16b6f55b38a429",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb16b6f55b38a429",
        "type": "ui_tab",
        "name": "test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]